<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sougree.amithereyet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name="com.sougree.amithereyet.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sougree.amithereyet.ADD_ALERT_CANCEL" /> 
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.sougree.amithereyet.AddAlertActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.sougree.amithereyet.ADD_ALERT" />
                <action android:name="com.sougree.amithereyet.EDIT_ALERT" />  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <provider android:name="AlertContentProvider"
            android:authorities="com.sougree.amithereyet">
        </provider>
        
    </application>

</manifest>
